<div class="container greyout">
  <div class="row">
  <ul class="list-group col-md-9 mb-2">
    <% @cart.each_with_index do |c, index|%>
      <li class="list-group-item item-<%= index %>">
        <%= link_to image_tag(c["image_uris"], class: "cart-img") %>
        <div class="cart-body">
          <p><%= c["name"] %></p>
          <p><%= "25,00 USD" %></p>
        </div>
        <%= link_to "Delete from cart", cart_path(id: index), class: "btn btn-primary float-right", id: "delete-button", remote: true %>
      </li>
    <% end %>
  </ul>
  <div class="list-group col-md-3">
    <li class="list-group-item">
      <strong>TOTAL:</strong>
      <% @cart.uniq.each do |c| %>
        <p><%= c["name"] %></p>
      <% end %>
    </li>
    <%= link_to "Proceed to checkout", checkout_path, id: "checkout-button", class: "btn btn-primary mt-1", remote: true %>
  </div>
  </div>
</div>