<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <div class="list-group my-4">
          
        <div class="list-group-item">
          <%= image_tag("iko.svg", class: "set-icon")%>
          <%= sortable "iko" %>
        </div>
        <div class="list-group-item">
          <%= image_tag("thb.svg", class: "set-icon")%>
          <%= sortable "thb" %>
        </div>
        <div class="list-group-item">
          <%= image_tag("eld.svg", class: "set-icon")%>
          <%= sortable "eld" %>
        </div>
          
        </div>

      </div>

      <div class="col-lg-9">
      
      <%= render partial: "products/list"%>
        
      <div class="d-flex justify-content-center flex-wrap">
        <ul class="pagination">
          <li class="page-item">
            <%== pagy_bootstrap_nav(@pagy).html_safe %>
          </li>
        </ul>
      </div>

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
